@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

body {
  padding: 0;
  margin: 0;

  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  color: rgb(46, 46, 46);
  background-color: #fff;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.display_flex {
  display: flex;
}

.display_block {
  display: block;
}

p  {
  line-height: 30px;
}

ul {
  padding: 0;
  margin: 0;
}

.transparency {
  transform: translate(0px ,120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.transparency._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.transparency-2 {
  transform: translate(20%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.transparency-2._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.transparency-3 {
  transform: translate(-10%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.transparency-3._active {
  transform: translate(15%, 0px);
  opacity: 1;
}

.text-transparency {
  text-align: left;
}

.section {
  margin: 120px 0;
}

.section-header {
  text-align: center;
  display: block;
  margin-bottom: 50px;
}

.section-title  {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-small-title {
  font-size: 20px;
  font-weight: 300;
  color: rgb(75, 75, 75);
}

.section-small-title:after {
  content: "";
  display: block;
  width: 200px;
  height: 5px;
  margin: 30px auto 30px;
  background-color: #7beec7;
}

.section-text {
  color: rgb(129, 129, 129);
  line-height: 30px;
  margin: 0 150px;
}
/*
.header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.466);
  z-index: 1;
}

.header__inner {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: rgb(31, 31, 31);
}

.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  margin: 0px 15px;
  position: relative;

  color: rgb(31, 31, 31);
}

.nav__link:before {
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 18px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(31, 31, 31);
  transition: 0.3s;
  transform: scaleX(0);
}

.nav__link:hover:before {
  width: 100%;
  transform: scaleX(1);
}

.botton {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50%;
  opacity: 0.5;
  background: url(http://www.defaulticon.com/images/icons32x32/MD-camera-photo_0.png?itok=kr5dLwub) center no-repeat;


  box-shadow: 0 3px 10px rgba(0, 0, 0, 25),
  0 2px 0 rgba(0, 0, 0, 0.1),
  inset 0 0 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.25),
  0 2px 0 rgba(0, 0, 0, 0.1),
  inset 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.25),
  0 2px 0 rgba(0, 0, 0, 0.1),
  inset 0 0 20px rgba(0, 0, 0, 0.1);

}

.botton:hover {
  background-position: center 55%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1),
  inset 0 2px 0 rgba(0, 0, 0, 0.1),
  inset 0 0 20px rgba(0, 0, 0, 0.1);
}
*/

.menu {
  padding: 20px 60px;
  background: rgb(243, 243, 243);
  color: #000;
  position: relative;
  left: -300px;
  border-radius: 10px;
  transition: left 500ms cubic-bezier(0.68, 0.55, 0.27, 1.55);
}

.menu.animate {
  left: 0;
}

.menu-ul {
  list-style: none;
  line-height: 30px;
}

.menu-ul li {
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header-burger {
  margin: 20px;
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.header-burger span,
.header-burger span:after,
.header-burger span:before {
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: #000;
  display: block;
  transition: 0.3s;
  border-radius: 5px;
}

.header-burger span:before {
  content: "";
  top: -15px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header-burger span {
  top: 15px;
}

.header-burger span:after {
  content: "";
  bottom: -15px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header-burger span.active:before {
  content: "";
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
}

.header-burger span.active:after {
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
}

.header-burger span.active {
  background: rgba(255,255,255, 0);
}

.main-img {
  width: 100%;
  height: calc(100vh);
  background: url(img/site-hero.jpg) no-repeat;
  background-size: cover;
}

.main-text {
  padding-top: 200px;
}

.main-text-1,
.main-text-2 {
  font-size: 50px;
  font-weight: 700;
}

.site-hero {
  width: 100%;
  margin-top: 120px;
}

.site-hero-card,
.site-hero-text {
  width: 50%;
}

.site-hero-text {
  text-align: left;
}

.site-hero-text p {
  margin-bottom: 50px;
}

.site-hero-text h2 {
  margin-top: 0;
}

.btn-green {
  padding: 15px 30px;
  background-color: #7beec7;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 700;
}

.btn-green:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.397);
}

.card {
  width: 300px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card-item {
  background-color: #7beec7;
  width: 300px;
  height: 300px;

  transition: transform 0.2s;
}

.galary {
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
}

.galary-item {
  background-color: #7beec7;
  width: 200px;
  height: 200px;
  transition: transform 0.2s;
  transition: 0.2s linear;
}

.galary-item:hover {
  transform: scale(1.1);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.397);
}

/*popup*/

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.801);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;

  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

.popup__text {
  text-align: left;
}

.popup__title {
  text-align: center;
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}

/*popup*/

.d-card {
  width: 300px;
  height: 300px;
  position: relative;
  perspective: 1000px;
}

.d-card-item {
  justify-content: space-around;
}

.d-card-front,
.d-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;

  transition: 1s;
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.d-card-front {
  background-color: #eeeeee;
}

.d-card-back {
  background-color: #7beec7;
  transform: rotateY(180deg);
}

.d-card:hover .d-card-front {
  transform: rotateY(180deg);
}

.d-card:hover .d-card-back {
  transform: rotateY(360deg);
}

.video-n-block {
  display: flex;
  justify-content: space-around;
}

.video-h1,
.block-h1 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.video-n-block-h1 {
  display: flex;
  justify-content: space-between;
}

.video,
.video-h1 {
  width: 80%;
}

.text-after-video {
  margin-top: 50px;
  font-size: 20px;
}

.block {
  width: 20%;
  height: 400px;
  border: #000 solid 1px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
  text-align: center;
}

.block-h1 {
  width: 20%;
}

.block ul {
  list-style: none;
  line-height: 40px;
}

.block li {
  font-weight: 700;
  font-size: 20px;
}

.block li:hover {
  background-color: rgb(240, 240, 240);
}

.container-slider {
  background-image: url('img/img-2.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.msg-container {
  width: 600px;
  height: 300px;
  overflow: hidden;
}

.slider_class {
  display: inline-flex;
  transition: 0.5s;
}

.msg-coloumn {
  width: 600px;
  height: 300px;
}

.msg-coloumn h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  margin: 10px 0;
}

.msg-coloumn p{
  color: #fff;
  font-size: 15px;
  line-height: 25px;
}

.msg-coloumn a {
  display: inline-block;
  background: #fff;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  color: #000;
  border-radius: 50px;
}

.controller {
  width: 1px;
  height: 320px;
  display: block;
  background: #c0c0c0;
}

.line1, .line2, .line3, .line4 {
  height: 80px;
  width: 10px;
  cursor: pointer;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duraction: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade{
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade{
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
